# bazel
/bazel-bin
/bazel-out
/bazel-testlogs
/bazel-webtiles
/external
/MODULE.bazel.lock

# settings
/.cache
/.vscode

# cpp
/compile_commands.json

# js/ts
/dist
/examples/*.js
/node_modules
/package-lock.json
